.colorVarient1{
    border-radius: 50%;
    width: 10%;
    position: absolute;
    bottom: 32%;
    left:10%;
    /* border: 1px solid white; */
    padding: 2px;
}
.colorVarient2{
    border-radius: 50%;
    width: 10%;
    position: absolute;
    bottom: 32%;
    left:22%;
    /* border: 1px solid white; */
    padding: 2px;
}
.colorVarient3{
    border-radius: 50%;
    width: 10%;
    position: absolute;
    bottom: 32%;
    left:32%;
    /* border: 1px solid white; */
    padding: 2px;
}