#textOverVideo{
    font-family: Futura,Arial;
      background-color: none;
      position: absolute;
      color: white;
      /* top: 25%; */
      bottom: 40%;
      letter-spacing: .3rem;
      text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -5px 15px;
}

#textOverVideoBox2{
    margin-top: 10px;
    color: yellow;
}

#textOverButtons{
    font-family: Futura,Arial;
    position: absolute;
    bottom: 28%;

}
#textOverButtons>Button {
    font-family: Futura,Arial;
    margin: 0 15px 0 15px;
    border-radius: 0;
    padding: 10px 35px;
    font-size: 12px;
    font-weight: 0;
    width: 41%;
}

#textOverButtons>Button:hover{
    background-color: black;
    color: white;
}

#container{
    position: relative;
}


#textOverButton{
    font-family: Futura,Arial;
    background-color: #CEB45C;
    color: white;
    letter-spacing: 2px;
    border-radius: 0;
    padding: 10px 35px;
    font-size: 12px;
    position: absolute;
    bottom: 80%;
    left: 0;
}

@media  screen and (max-width:480px) {
    #textOverButton{
        display: none;
    }

    #textOverButtons>Button{
        display: none;
    }

    #textOverVideo{
        font-size: 15px;
        bottom: 10%;
    }
    #textOverVideoBox2{
        margin-top: 5px;
        font-size: 5px;
        color: yellow;
    }
    #textOverVideo{
        bottom: 0px;
    }
}